// utills

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.tt-upp {
  text-transform: uppercase;
}

.tt-low {
  text-transform: lowercase;
}

.error {
  color: red;
}