@import '~normalize.css';
@import 'vars';
@import 'utills';
@import 'base';
@import 'sidebar';
@import 'modal';


#content {
  @media (min-width: 768px) {
    margin-left: 180px;
    padding-bottom: 30px;
  }
}

.btn-float {
  position: fixed;
  bottom: 30px;
  right: 30px;
}